.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 10px 50px;
  background: #eaeaea;
}

@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }
}
